 		.progressBar{
            margin-left:1%;
            position:relative;  
         }
         .spaceRadio{
            margin-left:3%; 
         }
         .spaceButton{
        		margin-left:10%;
                margin-top:10%;  
         }
         .spaceReset{
            margin-left: 78%;
            margin-bottom:2%;

         }
         .fixed {
                 position: fixed;
                 width: 27%;
                 margin-top:0%; 
                 margin-left:70%;  
         }
         .scrollit {
                 float: left;
                 width: 68%
         }
         .backgroundMe{
         	background-color:lightgrey; 
         }
         .champagne{
         	margin-top:0.6%;  
         	font-family:Champagne; 
         	font-size:2.3em;  
         }

         @font-face {
             font-family: Champagne;
             src: url("../fonts/Champagne&LimousinesBoldItalic.ttf");
         }
         #test_name_header{
            font-size:3em; 
         }

         #test_name_header{
            margin-top:1%;
            margin-right:3%;
            font-family:champagne;   
         }
         #test_name_header:hover{
            text-decoration: none;
            color: white;
         }
         xmp{
            margin: 0%;
            word-wrap: normal;
         }
